.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bcb5b9;
  margin-top: 20px;
}
.audio-control-wrap {
  height: 50px;
  background-color: #eff3f6;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.audio-controls {
  float: left;
}
.rotate-btn {
  height: 25px;
  width: 25px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.pause-btn {
  width: 40px;
  height: 40px;
  color: #3d94f4;
}
.play-speed-btn {
  margin-top: 15px;
  float: left;
  margin-left: 10px;
  border-radius: 25px;
}
.audio-timeline-wrap {
  padding: 20px 30px;
  padding-left: 30px;
  background-color: #fafbfc;
  border-bottom: 1px solid #dfe2e5;
}
.timer {
  font-size: small;
  background-color: #eff3f6;
  width: 80px;
  padding: 3px 5px;
  border-radius: 3px;
}
.graph-container {
  margin-top: 30px;
  margin-bottom: 10px;
}
.seperator {
  height: 1px;
  border-bottom: 1px solid #dfe2e5;
  margin-top: 2px;
  margin-bottom: 2px;
}
.graph-row {
  height: 30px;
}
.graph-name {
  width: 150px;

  height: 30px;
  float: left;
  padding-top: 5px;
}
.graph {
  height: 30px;
  margin-left: 5px;
  float: left;
}
.graph-block {
  float: left;
}
.bar {
  width: 1px;
  height: 30px;
  display: inline-block;
}
.offset {
  margin-left: 50px;
}
.first .graph-name {
  color: #8868e9;
}
.first .bar {
  border-left: 2px solid #8868e9;
}
.second .graph-name {
  color: #40a6f7;
}
.second .bar {
  border-left: 2px solid #40a6f7;
}

.transcript-wrap {
  padding: 20px 30px;
}
.transcript-row {
  display: flex;
  margin-bottom: 20px;
}

.transcript-time {
  padding-top: 5px;
}
.transcript-text {
  margin-left: 10px;
  padding: 5px 10px;
}

.first-person .transcript-time {
  color: #2f77c6;
}
.first-person .transcript-text {
  border-left: 2px solid #c2ddf0;
}

.second-person {
  margin-left: 50px;
}

.second-person .transcript-time {
  color: #d85c44;
}
.second-person .transcript-text {
  border-left: 2px solid #f6d6ce;
}
